<table border="1" class='table'>
    <thead>
        <tr [ngStyle]="{'background': 'pink'}">
            <th>Номер</th>
            <th>Категория</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let product of NewProducts; let i = index' [class.cat1]='product.category == 1' [class.cat2]='product.category == 2'
            [class.cat3]='product.category == 3' [class.highPrice]='product.price > 500'>
            <td>{{ i + 1 }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td><i (click)= deleteProduct(product) class="fa fa-times-circle-o fa-3x"></i></td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class='col-sm-2'>
        <h1>Выбрать категории:</h1>
        <form class='form-horizontal'>
            <select (select)= generateArr() class="form-control" name="category" [(ngModel)]='Category'>
            <option *ngFor='let category of Categories'>{{ category }}</option>
        </select>
        </form>
    </div>
</div>
<addition [Categories] = 'Categories' [Products] = 'Products' (AddNewProduct) = 'generateArr($event)'></addition>